<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
    <div class='local-alerts'>
      <h3 class='assertive'>Local Alerts</h3>
        <div>
          <span class='icon ion-bug'></span> Coffee plague near your <b>sector</b><br />
          <span class='icon ion-ios-sunny-outline'></span> <b>UV levels</b> could severe your lettuce crop.
        </div>
    </div>
    <p></p>
    <div class='regional-alerts'>
      <h3 class='assertive'>National Alerts</h3>
        <div>
          <span class='icon ion-bug'></span> Banana plague at 5km from you<br />
        </div>
    </div>
    
  </ion-content>
</ion-view>
